doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home | KTV Campaign
        link(rel="stylesheet", href="/assets/css/home.css")
    body
        div.f
            img#a(src="/assets/img/test_800.png", alt="")
            input#b(type="button", value="접수하기")
        div.s
            div#c
                ol
                    li 한양대학교
                    li 한성대학교
                    li 한동대학교
                li
                    a(href="/rank") 모든 학교 보기
            div#d
                h1 Secundum magnam misericordiam tuam.
            div#e
                h1 img


