doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home | KTV Campaign
        link(rel="stylesheet", href="/assets/css/home.css")
    body
        section.banner
            img#bannerImg(src="/assets/img/test_1920.jpeg", alt="")
        //- div#imageDisplay
        //-     div#imageList
        //-         input#left(type="button", value=" < ")
        //-         input#right(type="button", value=" > ")
        //-         img.images(src="/assets/img/1.jpg")
        //-         img.images(src="/assets/img/2.jpg")
        //-         img.images(src="/assets/img/3.jpg")
        //-         img.images(src="/assets/img/4.jpg")
        //-         img.images(src="/assets/img/5.jpg")
        //-         img.images(src="/assets/img/6.jpg")
        //-         img.images(src="/assets/img/7.jpg")
        //-         img.images(src="/assets/img/8.jpg")
        //-         img.images(src="/assets/img/9.jpg")
        //-         img.images(src="/assets/img/10.jpg")
        div.contents
            div#ranking
                h2 순위
                ol
                    li 한양대학교
                    li 한성대학교
                    li 한동대학교
                a(href="/rank") 모든 학교 보기
            div#mission
                img(src="/assets/img/mission.jpeg",)
                span#explain 미션 설명
            input#submit(type="button", value="접수하기", onclick="location.href='submit'")
    
    script(src="/assets/src/home.js") 


