doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home | KTV Campaign
        link(rel="stylesheet", href="/assets/css/home.css")
    body
        h1 Ranking 
        a(href="/") Go back to home 
        each s in schools
            +school(s)


