doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title submit | KTV Campaign
        link(rel="stylesheet", href="/assets/css/submit.css")
    body 
        div#content
            form.inputs(action="/submit", method="post") 
                input(name="name", placeholder="이름", required)
                label#schoolLabel(for="school") 학교
                select#school(name="school", required)
                    each s in school
                        option(value=s)=s
                input(name="inst_id", placeholder="인스타그램 아이디", require)
                label#imageLabel(for="image") 캡쳐 사진 (png, jpeg 형식)
                input#image(type="file", name="image" accept="image/png, image/jpeg")
                input(type="submit", value="제출하기")
                a(href="/") back to home &rarr;