* {
    box-sizing:border-box;
}

body {
    background-color: white;
}

img {
    object-fit: cover;
}

div.contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    flex-shrink: 0;
    height: 320px;
}

#bannerImg {
    height: 300px;
    width: 100%;
}

#imageDisplay {
    display: flex;
    flex-direction: row;
    height: 300px;
    overflow:scroll;
}
#imageList {
    display: flex;
    flex-direction: row;
}
#imageDisplay::-webkit-scrollbar {
    display: none;
}
#left {
    position:absolute;
    top: 435px;
    left: 10px;
    height: 30px;
    width: 40px;
    border-radius: 15px;
}
#right {
    position:absolute;
    top: 435px;
    right: 10px;
    height: 30px;
    width: 40px;
    border-radius: 15px;
}
.images {
    height: 280px;
    object-fit: cover;
}
#ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 400px;
    border: 1px solid black;
    overflow: auto;
}

#ranking ol {
    padding-left: 20px;
    font-size: larger;
}

#mission {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: calc(100% - 700px);
    border: 1px solid black;
}
#mission img{
    height: 298px;
    width: 490px;
    object-fit: cover;
}

#submit {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: #242b62;
    color: white;
    font-size: 32px;
    font-weight: bolder;
}



@media screen and (max-width: 1560px){
    #explain {
        display:none;
    }
    #mission {
        justify-content: space-around;
        width: calc(74% - 300px);
    }
    #ranking {
        width: 26%;
    }
}

@media screen and (max-width: 850px){
    #bannerImg {
        height:120px;
    }
    #left, #right {
        display: none;
    }
    div.contents {
        height:250px;
    }
    #mission {
        width:250px;
        height:250px;
    }
    #mission img{
        width: 249px;
        height: 248px;
    }
    #ranking {
        display:none;
    }
    #explain {
        display: none;
    }
    #submit {
        height:250px;
        width: calc(100% - 250px);
        font-size: 4vw;
    }
}