* {
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    width: 70%;
    margin:10px;
    border: 1px solid gray;
    border-radius: 5px;
    
}

.inputs{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.inputs *{
    padding: 10px;
    margin: 10px;
}

.inputs a{
    color:darkgray;
}